<section>
  <h2>Crie sua propria sala</h2>
  <form action="/create-room" method="POST">
    <label class="sr-only" for="room-id">Insira senha</label>
    <!--conectar o label ao input room-id -->
    <input
      type="password"
      name="password"
      id="room-id"
      placeholder="Insira senha"
    />
    <button>
      <img src="/img/users-white.svg" alt="Criar sala" /> Criar sala
    </button>
  </form>
</section>
